{{ define "main" }}
<main aria-role="main">
    <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
    </header>
    <div class="homepage-content">
        {{.Content}}
    </div>
    <h3>Ultimo post creado:</h3>
    <div>
        {{ range first 1 .Site.RegularPages }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>       {{ .Date.Format "2006-01-02"  }}

        {{ end }}
    </div>
    <div>
        Curso a seguir: <a href="https://www.udacity.com/course/developing-android-apps-with-kotlin--ud9012">Developing Android Apps with Kotlin</a>
    </div>
</main>
{{ end }}
